html, body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

canvas {
  display: block;
}

p{
  color: white;
  text-align: center;
}

.color-grid{
  display: grid;
  font-size: 15px;
  grid-template-columns: 130px 130px 130px 100px;
  grid-template-rows: 50px;
  column-gap: 2px;
  align-items: center;
}

.color{
height: 17.6px; 
}

